<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h3>Hello <%= @user_name %></h3>
<p>Today is <%= Time.now %></p>
<p>I am attaching your QA report: <b color="red"><%= @report_title %></b></p>
</body>
</html>